<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/logoLibros.svg" alt="" width="50" height="34" class="d-inline-block align-text-top"> Reseñando
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/libros/lista}" class="nav-link">Libros</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li th:each="genero:${generos}">
                            <a class="dropdown-item" th:href="@{/libros/generos/(genero=__${genero.key}__)}" th:text="${genero.value}"></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/#faqs}">Preguntas frecuentes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contacto}">Contacto</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/resenias/lista}" class="nav-link">Reseñas</a>
                </li>
                <li class="nav-item dropdown" th:if="${session.usuariosession != null}">
                    <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Perfil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{/perfil/}">Mi Perfil</a>
                        </li>
                        <li>
                            <a th:if="${session.usuariosession.perfil != null}" class="dropdown-item" th:href="@{/perfil/prestamos}">Mis Prestamos</a>
                        </li>
                        <li>
                            <a th:if="${session.usuariosession.perfil != null}" class="dropdown-item" th:href="@{/perfil/editar-perfil}">Editar Perfil</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" th:if="${session.usuariosession != null}">
                    <a th:if="${session.usuariosession.perfil == null}" th:href="@{/perfil/crear-perfil}" class="nav-link"><b>Crea tu perfil</b></a>
                </li>
                <li class="nav-item dropdown" th:if="${session.usuariosession != null}"  sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Administración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                        <li>
                            <a class="dropdown-item" th:href="@{/admin/libros}">Libros</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/admin/prestamos}">Prestamos</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/admin/usuarios}">Usuarios</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form action="/libros/lista" class="d-flex">
                <input class="form-control me-2" type="search" name="query" placeholder="Buscar libro..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
                
                <a th:href="@{/login}" class="btn btn-success px-4 py-1" th:if="${session.usuariosession == null}">Login</a>
                <a th:href="@{/logout}" th:if="${session.usuariosession != null}" class="btn btn-outline-danger px-4 py-1">Logout</a>
            </form>
        </div>
    </div>
</nav>