<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <h1>ERROR 500 - PROBLEMA INTERNO</h1>
        <h1 class="masthead-heading mb-0" th:text="${codigo}" ></h1>
        <h2 class="masthead-subheading mb-0" th:text="${mensaje == null ? 'Intenta nuevamente.' : mensaje}" ></h2>
    </div>
</body>

</html>