
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("./IMAGENES/Decore.png");
    background-color:transparent;
    background-repeat: no-repeat;
}