*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background-color:transparent;
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 150px;
}

html{
    min-height: 100%;
    position: relative;
}

main{
    flex-grow: 1;
    margin: 0%;
    padding: 0%;
}

h1, h2, h3 {
    font-family: 'Volkhov', serif;
    color: #181E4B;
    margin-top: 10px;
    margin-bottom: 0px;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}

/* --- HEADER --- */
.imgHeader {
    margin-top: 5rem;
    max-width: 40rem;
}

.inicial{
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.titulos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
}

.titulo3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    width: 60%;
    color: #5E6282;
    margin-top: 5rem;
}

.tituloprincipal {
    font-family: 'Volkhov', serif;
    font-size: 75px;
    color: #181E4B;
    margin-top: 10px;
    margin-bottom: 0px;
}

.botonHeader{
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    margin-top: 7vh;
    width: 20vh;
    height: 3.5rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color:#eb8634;
    color: white;
}

.titulares {
    padding: 1rem;
    background-color:transparent;
    color: #EEE;
    font-size: 2.5vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
}

/* --- MENÚ / NAV BAR --- */
a.navbar-brand {
    font-family: 'Volkhov', serif;
    font-size: 1.75rem;
}

li a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration:none;
    color: none;
}

li a:hover{
    font-size: 24px;
    color: tomato;
}

.nav-bar{
    font-size: 22px;
    font-family: 'Kanit', sans-serif;
}

.number {
    font-size: 7.5rem;
}

.title {
    font-family: Poppins;
    font-weight: bold;
}

/* --- TITULOS SECUNDARIOS --- */
.titleSec{
    font-family: Volkhov;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}

/* --- FONDO PARA LAS SECCIONES --- */
#sectionBack {
    margin-top: 3rem;
    background-color: #e2e2e2;
    padding-bottom: 3rem;
}

/* --- PASOS --- */
.pasos {
    background-color: #DF6951;
    border-radius: 20px;
    border: none;
}

.pasos p {
    font-size: 1.1rem;
    font-weight: 500;
}

/* --- RESEÑAS POPULARES LANDING --- */
.reseñas {
    background-color: #92D7E0;
    border-radius: 20px;
    border: none;
}

.reseñas p {
    font-size: 1.1rem;
    font-weight: 500;
}

.imgPerfil {
    background-color: #ffffff;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

/* --- LIBROS --- */
.libros {
    box-shadow: 6px 6px #c7c7c7;
    border: 2px solid rgb(105, 105, 105)
}

.libros img {
    max-height: 350px;
}

/* --- FORMULARIO MODIFICAR PERFIL --- */
p#texto{
	text-align: center;
	color:white;
}

div#div_file{
	position:relative;
	margin:50px;
	padding:10px;
	width:150px;
    left: -49px;
	background-color: #2499e3;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0px 3px 0px #1a71a9;
}

input#btn_enviar{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	width:100%;
	height:100%;
	opacity: 0;
}
.actualizarfoto{
    margin-top: 0%;
}

/* --- FOOTER --- */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}
/* --- ÉXITO --- */
header.masthead-exito {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, #ABDFEB 0%, #54C4C4 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 50rem;
}

header.masthead-exito .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead-exito .masthead-content .masthead-heading {
    font-size: 4rem;
}

header.masthead-exito .masthead-content .masthead-subheading {
    font-size: 2rem;
}

header.masthead-exito .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #54C4C4 0%, #ABDFEB 100%);
    height: 100%;
}

header.masthead-exito .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}

header.masthead-exito .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}

header.masthead-exito .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

header.masthead-exito .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

@media (min-width: 992px) {
    header.masthead-exito .masthead-content .masthead-heading {
        font-size: 6rem;
    }
    header.masthead-exito .masthead-content .masthead-subheading {
        font-size: 4rem;
    }
}

/* --- ERROR --- */
header.masthead {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, #ec8181 0%, #c55656 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    height: 65rem;
}

header.masthead .masthead-content {
    z-index: 1;
    position: relative;
}

header.masthead .masthead-content .masthead-heading {
    font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
    font-size: 2rem;
}

header.masthead .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #c55656 0%, #ec8181 100%);
    height: 100%;
}

header.masthead .bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -55rem;
    left: -55rem;
}

header.masthead .bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}

header.masthead .bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

header.masthead .bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

@media (min-width: 992px) {
    header.masthead .masthead-content .masthead-heading {
        font-size: 6rem;
    }
    header.masthead .masthead-content .masthead-subheading {
        font-size: 4rem;
    }
}

/* --- LIBRO --- */
.imgLibro {
    max-width: 20rem;
}

/* --- CONTACTO --- */
.iconContacto {
    max-width: 3rem;
    margin-right: 1rem;
}

a.aContact {
    text-decoration: none!important;
}

.headerReseñas {
    background-image: url("/img/HeaderContacto.png");
    background-color: #BAD0FF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 40rem;
}

.bright {
    border-right: #a8a8a8 1px solid;
}

.mapaContacto {
    max-width: 33rem;
    margin: 1rem;
}

.infoContacto {
    font-weight: bold;
    color: #DF6951;
    margin-top: 1rem;
    font-family: Poppins;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* --- REGISTRO --- */
.headerRegistro {
    background-image: url("/img/headerRegistro.png");
    background-color: #FEE0D5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 40rem;
}