<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <header class="masthead-exito text-center">
        <div class="masthead-content my-auto">
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-12 mt-5">
                        <h1 class="masthead-heading mb-0">Gracias por contactarte con nosotros.</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-5">
                        <h2 class="mb-0">Recibirás una respuesta a tu consulta en breve.</h2>
                        <a href="/" class="btn btn-primary btn-lg px-5 mt-5">Inicio</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>