<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <div class="container">
        <h1>Crear Reseña</h1>

        <form action="/resenias/registrar-resenia" method="POST">
            <!-- <p th:if="${error != null}" th:text="${error}" style="color:red;"></p> -->
            <label>Título reseña:</label>
            <input type="text" class="form-control" name="tituloResenia" />
            <br>
            <label>Comentario:</label>
            <input type="text" class="form-control" name="comentarioResenia" />

            <br/><button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</body>

</html>