<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="card mt-5 mb-5 shadow">
            <div class="card-header d-flex">
                <h1>Registrar Libro</h1>
                <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
            </div>
            <div class="card-body d-flex">
                <form th:action="@{/libros/registrar-libro}" method="POST" th:object="${libro}" class="col-offset-2 col-md-8 mx-auto mt-5" enctype="multipart/form-data">
                    <input hidden name="*{id}">
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="titulo-addon">Título</span>
                                <input type="text" class="form-control" name="titulo" th:value="${titulo}" placeholder="Ingrese el título del libro" aria-label="Titulo" aria-describedby="titulo-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="isbn-addon">ISBN</span>
                                <input type="number" class="form-control" name="isbn" th:value="${isbn}" placeholder="Ingrese el ISBN del libro" aria-label="ISBN" aria-describedby="isbn-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="sinopsis-addon">Sinopsis</span>
                                <textarea class="form-control" rows="5" aria-label="Sinopsis" aria-describedby="sinopsis-addon" name="sinopsis" th:value="${sinopsis}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="generoAddon">Género</label>
                                <select class="form-select" name="genero" id="generoAddon">
                                    <option th:each="genero:${genero}" th:text="${genero}" th:value="${genero}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="anio-addon">Año de Publicación</span>
                                <input type="number" min="1900" max="2099" step="1" class="form-control" name="anio" th:value="${anio}" placeholder="Ingrese el año de publicación del libro" aria-label="Año" aria-describedby="anio-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="autor-addon">Autor</span>
                                <input type="text" class="form-control" name="autor" th:value="${autor}" placeholder="Ingrese el autor del libro" aria-label="Autor" aria-describedby="autor-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="editorial-addon">Editorial</span>
                                <input type="text" class="form-control" name="editorial" th:value="${editorial}" placeholder="Ingrese la editorial del libro" aria-label="Editorial" aria-describedby="editorial-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ejemplares-addon">Ejemplares Totales</span>
                                <input type="number" class="form-control" name="ejemplares" th:value="${ejemplares}" placeholder="Cantidad de ejemplares que posee" aria-label="Ejemplares" aria-describedby="ejemplares-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="ejemplaresPres-addon">Ejemplares Prestados</span>
                                <input type="number" class="form-control" name="ejemplaresPrestados" th:value="${ejemplaresPrestados}" placeholder="Cantidad de ejemplares prestados" aria-label="EjemplaresPrestados" aria-describedby="ejemplaresPres-addon">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <h5>Portada del libro:</h5>
                            <div class="input-group">
                                <div class="file-select text-center" id="archivo">
                                    <input type="file" class="form-control" id="src-file" name="archivo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-4">
                            <label for="disponibilidad" class="form-label"><h5>Disponible</h5></label>
                            <br>
                            <div class="form-check form-check-inline" id="disponibilidad">
                                <input class="form-check-input" type="radio" name="alta" id="disponibleSi" value="1" checked>
                                <label class="form-check-label" for="disponibleSi">
                                    Si
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="alta" id="disponibleNo" value="0">
                                <label class="form-check-label" for="disponibleNo">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="destacado" class="form-label"><h5>Destacado</h5></label>
                            <br>
                            <div class="form-check form-check-inline" id="destacado">
                                <input class="form-check-input" type="radio" name="destacado" id="destacadoSi" value="1">
                                <label class="form-check-label" for="destacadoSi">
                                    Si
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="destacado" id="destacadoNo" value="0" checked>
                                <label class="form-check-label" for="destacadoNo">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-2 col-md-8 d-flex">
                            <button type="submit" class="btn btn-success px-5 py-2 m-5">Guardar</button>
                            <button type="reset" class="btn btn-secondary px-5 py-2 m-5">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>
