<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <header class="masthead text-center">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0" th:text="${'ERROR ' + codigo}"></h1>
                <h2 class="masthead-subheading mb-0" th:text="${mensaje==null ? 'Intenta nuevamente' : mensaje}"></h2>
                <a href="/" class="btn btn-outline-primary btn-lg px-5 mt-5">Inicio</a>
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>