<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Reseñando - Éxito</title>
</head>

<body>
    <h1> TA TODO PIOLA </h1>
    <h2 class="display-4" th:text="${titulo}" ></h2>
    <p th:text="${descripcion}"></p>
    <button class="btn-dark px-5 py-2 ms-auto"><a th:href="@{/}">Volver</a></button>
</body>