<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <header class="headerGeneros text-center"></header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="titleSec mt-4" th:text="'Libros de ' + ${genero}"></h2>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-3" th:each="libro:${libros}">
                <div class="card libros mt-5" style="max-width: 250px;">
                    <a th:href="@{/libros/libro(isbn=__${libro.isbn}__)}">
                        <img th:if="${ libro.portada == null }" src="/img/portadaLibro.png" class="card-img-top"/>
                        <img th:if="${ libro.portada != null }" th:src="${'/foto/libro/' + libro.isbn}" class="card-img-top"/>
                    </a>
                    <div class="card-footer bg-danger text-white text-center" th:if="${libro.alta == FALSE}">
                        <h6>NO DISPONIBLE</h6>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="fallaGeneros" th:if="${ libros.isEmpty() }"></div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>