<!DOCTYPE html>
<html lang="en">
<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <header>
        <div class="row justify-content-center">
            <div class="offset-md-1 col-md-5 inicial">
                <div class="titulos">
                    <h2 class="titulo2">Historias que te hacen volar </h2>
                    
                    <h1 class="tituloprincipal">Leer, Disfrutar</h1>
                    <h1 class="tituloprincipal">y Vivir la Vida.</h1>
    
                    <h2 class="titulo3">La plataforma de reserva y reseñas de libros más nueva del mundo.</h2>
                    <a class="btn botonHeader" th:href="@{/registro}">Registrate</a>
                </div>
            </div>
            <div class="col-md-5 imgHeader">
                <img src="/img/imgHeader2.png" class="img-fluid">
            </div>
        </div>
    </header>
    <section id="sectionBack1">
        <div class="container">
            <h2 class="titleSec mt-4">Libros principales</h2>
            <div th:replace="/fragments/libros :: div"></div>
        </div>
    </section>
    <section id="pasos">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h2 class="titleSec mb-5">Estás a 3 pasos de tu próxima aventura</h2>
                </div>
            </div>
    
            <div class="row mb-5">
                <div class="col-md-4">
                    <div class="card shadow paso1">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <h1 class="number one">1</h1>
                            </div>
                            <div class="col-md-9 my-auto">
                                <div class="card-header">
                                    <h3 class="title">Registrate.</h3>
                                </div>
                                <p class="pasosTxt">Completa tus datos personales y accede a la plataforma.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow paso2">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <h1 class="number">2</h1>
                            </div>
                            <div class="col-md-9 my-auto">
                                <div class="card-header">
                                    <h3 class="title">Crea tu perfil.</h3>
                                </div>
                                <p class="pasosTxt">Elige tu nickname y avatar para distinguirte en la plataforma.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow paso3">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <h1 class="number">3</h1>
                            </div>
                            <div class="col-md-9 my-auto">
                                <div class="card-header">
                                    <h3 class="title">Busca!</h3>
                                </div>
                                <p class="pasosTxt">Busca el libro que quieras leer y retiralo en el Punto Reseñando más cercano. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sectionBack2">
        <div class="container">
            <div class="row"> 
                <h2 class="titleSec mt-4" id="faqs">Preguntas Frecuentes</h2>
                <div class="offset-2 col-md-8 mt-4">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                ¿Qué es Reseñando?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Reseñando es una plataforma virtual donde podrás acceder a todos tus libros favoritos y reseñarlos.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                ¿Cómo consigo un libro?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Buscalo en el sitio, si está disponible acercate a tu punto Reseñando más cercano y pedilo prestado.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                ¿Cuánto tiempo duran los préstamos?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Los préstamos tienen una duración de 7 días a partir del momento en que te llevas el libro. Pero siempre podrás solicitar una renovación por 7 días más al acercarte a tu Reseñando más cercano.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                ¿Por qué algunos libros aparecen como "NO DISPONIBLE"?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Cuando nos quedamos sin ejemplares disponibles de algún título lo marcamos como "NO DISPONIBLE", si lo quieres leer sólo vuelve a revisar un tiempo después para saber si ya está disponible nuevamente.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>