<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="card mb-3 mt-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-5">
                    <img th:src="${'/foto/perfil/' + session.usuariosession.perfil.id}" class="img-fluid rounded-start">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                    <h3 class="card-title" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h3>
                    <h5 class="card-title text-muted" th:text="'@' + ${session.usuariosession.perfil.nickname}"></h5>
                    <p class="card-text" th:text="${'DNI: ' + session.usuariosession.dni}"></p>
                    <p class="card-text" th:text="${'Email: ' + session.usuariosession.email}"></p>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="@{/libros/crear-libro}" class="btn btn-primary btn-xl rounded-pill mt-5">Crear libro</a>

        
    </div>
</body>

</html>