<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" th:if="${error != null}" th:text="${error}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" sec:authorize="isAuthenticated()">
                <div th:if="${session.usuariosession.perfil} != null" class="card mb-3 mt-5 bg-dark text-white" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img th:src="${'/foto/perfil/' + session.usuariosession.perfil.id}" class="img-fluid rounded-start">
                        </div>
                        <div class="col-md-7">
                            <h3 class="card-title" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h3>
                            <h5 class="card-title text-muted" th:text="'@' + ${session.usuariosession.perfil.nickname}"></h5>
                            <p class="card-text" th:text="${'DNI: ' + session.usuariosession.dni}"></p>
                            <p class="card-text" th:text="${'Email: ' + session.usuariosession.email}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" sec:authorize="isAuthenticated()">
                <div class="card mt-5 bg-dark text-white" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="card-header d-flex">
                        <h1>Administración</h1>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <a th:href="@{/libros/crear-libro}" class="btn btn-primary px-5 py-2 ms-auto">Crear libro</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <a th:href="@{/prestamos/crear-prestamo}" class="btn btn-primary px-5 py-2 ms-auto">Prestamo Nuevo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <a sec:authorize="isAuthenticated()" th:href="@{/usuario/editar-usuario(dni=__${session.usuariosession.dni}__)}" class="btn btn-primary px-5 py-2 ms-auto">Editar Usuario</a>
        
    </div>
</body>

</html>