<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>Libros</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2 mt-3 text-center">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/libros/crear-libro}" class="btn btn-primary px-5 py-2 ms-auto">Crear libro</a>
            </div>
        </div>
        <div class="row mt-2 mb-4">
            <div class="offset-2 col-md-8">
                <form th:action="@{/admin/libros}" method="GET" class="col-offset-2 col-md-8 mx-auto mt-5 d-flex">
                    <input class="form-control me-2" type="search" name="query" placeholder="Buscar por título...">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Editorial</th>
                            <th scope="col">Disponible</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="libro:${libros}">
                            <td th:text="${libro.titulo}" th:value="${libro.isbn}"></td>
                            <td th:text="${libro.autor}" th:value="${libro.autor}"></td>
                            <td th:text="${libro.editorial}" th:value="${libro.editorial}"></td>
                            <td th:if="${libro.alta != false}">Si</td>
                            <td th:if="${libro.alta == false}">No</td>
                            <td>
                                <a th:href="@{/libros/libro(isbn=__${libro.isbn}__)}" class="btn btn-outline-primary btn-sm" type="button" style="border-radius: 0px;">Ver</a>
                                <a th:href="@{/libros/modificar-libro(isbn=__${libro.isbn}__)}" class="btn btn-outline-warning btn-sm" role="button">Editar</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>