<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <header class="headerLogin text-center"></header>
    <div class="container">
        <div class="card mt-5 mb-5 shadow">
            <div class="card-header d-flex">
                <h2 class="display-4">Inicia sesión</h2>
                <br>
                <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
                <p th:if="${logout != null}" th:text="${logout}" style="color:green"></p>
            </div>
            <div class="card-body d-flex">
                <form action="/logincheck" method="POST" class="col-offset-2 col-md-8 mx-auto mt-5">
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group">
                                <span class="input-group-text" id="emailAddon">Email</span>
                                <input type="email" class="form-control" name="username" aria-describedby="emailAddon" placeholder="ejemplo@gmail.com" aria-label="Username"/>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group">
                                <span class="input-group-text" id="emailAddon">Clave</span>
                                <input type="password" class="form-control" name="password"/>
                            </div>
                        </div>
                    </div>
                    <!--<div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                    </div>-->
                    <div class="row">
                        <div class="offset-4 col-md-8">
                            <button type="submit" class="btn btn-primary px-5 py-2 m-5">Iniciar sesion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>