<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
  <div class="container">
    <h2 class="display-4">Ingresá a Reseñando</h2>
    <form action="/logincheck" method="POST">
        <p th:if="${error != null}" th:text="${error}" style="color:red"></p>
        <p th:if="${logout != null}" th:text="${logout}" style="color:green"></p>

        <label>E-Mail</label>
        <input type="email" class="form-control" name="username"/>
        
        <label>Clave</label>
        <input type="password" class="form-control" name="password"/>
        
        <br/><button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <br>
    <a href="/" class="btn btn-primary">Index</a>
  </div>
</body>

</html>