<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="card mt-5 shadow">
            <div class="card-header d-flex">
                <h1>Edita tu Perfil</h1>
                <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
            </div>
            <div class="card-body d-flex mb-5">
                <form th:action="@{/perfil/actualizar-perfil}" method="POST" class="col-offset-2 col-md-8 mx-auto mt-5" enctype="multipart/form-data">
                    <input type="hidden" name="id" th:value=${perfil.id}>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">@</span>
                                <input type="text" class="form-control" id="nickname" name="nickname" th:value="${perfil.nickname}" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" />
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-2 col-md-8">
                            <div class="input-group">
                                <label class="input-group-text" for="btn_enviar1">Foto</label>
                                <input type="file" class="form-control" id="btn_enviar1" name="archivo"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-2 col-md-8">
                            <div class="input-group">
                                <span class="input-group-text" id="bio-addon">Biografía</span>
                                <textarea th:text="${perfil.bio}" name="bio" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-2 col-md-8 d-flex">
                            <button type="submit" class="btn btn-warning px-5 py-2 m-5">Modificar</button>
                            <button type="reset" class="btn btn-secondary px-5 py-2 m-5">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>