<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <h2 class="display-4">Edita tu perfil.</h2>
        <form action="/perfil/actualizar-perfil" method="POST" enctype="multipart/form-data">
            <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
            <input type="hidden" name="id" th:value=${perfil.id}>
            
            <label>Nickname</label>
            <input type="text" class="form-control" name="nickname" th:value=${perfil.nickname} />
            <p th:if="${nickname != null}" th:text="${error}" style="color:red;"></p>

            <label>Biografía</label>
            <input type="text" class="form-control" name="bio" th:value=${perfil.bio} />

            <label>Foto</label>
            <input type="file" class="form-control" name="archivo"/>
            <p th:if="${archivo != null}" th:text="${error}" style="color:red;"></p>

            <br/><button type="submit" class="btn btn-success">Modificar</button>
        </form>
    </div>
</body>

</html>