<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header d-flex">
                <h1>Edita tu perfil</h1>
                <p th:if="${error != null}" th:text="${error}" style="color:red;"></p>
            </div>
            <div>
                <form th:action="@{/perfil/actualizar-perfil}" method="POST" class="col-6 mx-auto mt-5" enctype="multipart/form-data">
                    <div class="mb-3">
                        <input type="hidden" name="id" th:value=${perfil.id}>
                        <div class="form-group">
                            <label for="nickname" class="form-label"><h5>Nickname</h5></label>
                            <input type="text" class="form-control" id="nickname" name="nickname" th:value="${perfil.nickname}" />
                            <p th:if="${nickname != null}" th:text="${error}" style="color:red;"></p>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="bio" class="form-label"><h5>Biografía</h5></label>
                            <input type="text" class="form-control" id="bio" name="bio" th:value="${perfil.bio}" />
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="archivo" class="form-label"><h5>Foto</h5></label>
                            <input type="file" class="form-control" id="archivo" name="archivo"/>
                            <p th:if="${archivo != null}" th:text="${error}" style="color:red;"></p>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn-success px-5 py-2 ms-auto mb-5">Modificar</button>
                    <button type="reset" class="btn-secondary px-5 py-2 ms-auto mb-5">Limpiar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>