<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Prestamo Prueba - Creación</title>
    </head>
    
    <body>
        <h5>Alquila!</h5>

        <form action="/prestamos/guardar-prestamo" method="POST" >


            <label for="start">Start date:</label>

            <input type="date" id="start" name="fechaPrestamo"
                   value="2018-07-22"
                   min="2018-01-01" max="2022-12-31">
            
            <input type="date" id="start" name="fechaEstimativa"
                   value="2018-07-22"
                   min="2018-01-01" max="2022-12-31">
            
            <input type="date" id="start" name="fechaDevolucion"
                   value="2018-07-22"
                   min="2018-01-01" max="2022-12-31">

            <button type="submit">Guardar</button>
            
        </form>



    </body>
</html>
