<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>

        <form action="/prestamos/guardar-prestamo" method="POST" >


            <label for="start">Start date:</label>

            <input type="date" id="start" name="fechaPrestamo"
                   value="2018-07-22"
                   min="2018-01-01" max="2022-12-31">
            
            <input type="date" id="start" name="fechaEstimativa"
                   value="2018-07-22"
                   min="2018-01-01" max="2022-12-31">
            
            <input type="date" id="start" name="fechaDevolucion"
                   value="2018-07-22"
                   min="2018-01-01" max="2022-12-31">

            <button type="submit">Guardar</button>
            
        </form>



    </body>
</html>
