<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>Préstamos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <h4 class="alert-heading">ERROR!</h4>
                    <p th:text="${error}"></p>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3 mt-3 text-center">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/prestamos/crear-prestamo}" class="btn btn-primary px-5 py-2 ms-auto">Crear Prestamo</a>
            </div>
        </div>
        <div class="row mt-2 mb-4">
            <div class="offset-2 col-md-8">
                <form th:action="@{/admin/prestamos}" method="GET" class="col-offset-2 col-md-8 mx-auto mt-5 d-flex">
                    <input class="form-control me-2" type="search" name="query" placeholder="Buscar por nombre o apellido...">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Libro</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha estimativa</th>
                            <th scope="col">Fecha devolución</th>
                            <th scope="col">Devuelto</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="prestamo:${prestamos}">
                            <td th:text="${prestamo.usuario.nombre + ' ' + prestamo.usuario.apellido}"></td>
                            <td th:text="${prestamo.libro.titulo}" th:value="${prestamo.libro.isbn}"></td>
                            <td th:text="${prestamo.fechaPrestamo}" th:value="${prestamo.fechaPrestamo}"></td>
                            <td th:text="${prestamo.fechaEstimativa}" th:value="${prestamo.fechaEstimativa}"></td>
                            <td th:text="${prestamo.fechaDevolucion}" th:value="${prestamo.fechaDevolucion}"></td>
                            <td th:if="${prestamo.devuelto != false}">Si</td>
                            <td th:if="${prestamo.devuelto == false}">No</td>
                            <td>
                                <a th:if="${prestamo.devuelto == false}" th:href="@{/prestamos/editar-prestamo(id=__${prestamo.id}__)}" class="btn btn-outline-warning btn-sm" role="button">Editar</a>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>