<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Usuario Prueba - Registro</title>
</head>

<body>
    <h2 class="display-4">Registrate</h2>
    <form action="/registrar" method="POST" enctype="multipart/form-data">
        
      <!-- <p th:if="${error != null}" th:text="${error}" style="color:red;"></p> -->
      <label>DNI</label>
      <input type="text" class="form-control" name="dni" />
      
      <label>Nombre</label>
      <input type="text" class="form-control" name="nombre" />

      <label>Apellido</label>
      <input type="text" class="form-control" name="apellido" />
      
      <label>Dirección</label>
      <input type="text" class="form-control" name="direccion" />
      
      <label>E-Mail</label>
      <input type="email" class="form-control" name="mail" />
              
      <!---<label>Foto</label>
      <input type="file" class="form-control" name="archivo"/>--->
  
      <label>Pass</label>
      <input type="password" class="form-control" name="pass1" />
      
      <label>Repetir Pass</label>
      <input type="password" class="form-control" name="pass2" />
      
      <br/><button type="submit" class="btn btn-primary">Registrarme</button>
    </form>

    <h3 th:if="${dni != null}" th:text="${error}" style="color:red;"></h3>
    <h3 th:if="${nombre != null}" th:text="${error}" style="color:red;"></h3>
    <h3 th:if="${apellido != null}" th:text="${error}" style="color:red;"></h3>
    <h3 th:if="${direccion != null}" th:text="${error}" style="color:red;"></h3>
    <h3 th:if="${mail != null}" th:text="${error}" style="color:red;"></h3>
    <h3 th:if="${pass1 != null}" th:text="${error}" style="color:red;"></h3>
    <h3 th:if="${pass2 != null}" th:text="${error}" style="color:red;"></h3>
</body>

</html>