<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <div class="container">
      <h2 class="display-4">Registrate</h2>
      <form action="/registrar" method="POST" enctype="multipart/form-data">
          
        <h4 th:if="${error != null}" th:text="${'ERROR: ' + error}" style="color:red;"></h4>

        <label><b>DNI</b></label>
        <input type="text" class="form-control" name="dni" th:value="${dni}" />

        <label><b>Nombre</b></label>
        <input type="text" class="form-control" name="nombre" th:value="${nombre}" />

        <label><b>Apellido</b></label>
        <input type="text" class="form-control" name="apellido" th:value="${apellido}" />

        <label><b>Dirección</b></label>
        <input type="text" class="form-control" name="direccion" th:value="${direccion}" />

        <label><b>E-Mail</b></label>
        <input type="email" class="form-control" name="mail" th:value="${mail}" />

        <label><b>Contraseña</b></label>
        <input type="password" class="form-control" name="pass1" th:value="${pass1}" />

        <label><b>Repetir Contraseña</b></label>
        <input type="password" class="form-control" name="pass2" th:value="${pass2}" />

        <br/><button type="submit" class="btn btn-primary">Registrarme</button>
      </form>
    </div>
</body>

</html>