<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>
<body>
    <nav th:replace="/fragments/nav :: nav"></nav>
    <header class="headerReseñas text-center"></header>
    <div class="container">
        <div class="row mt-5">
            <div class="offset-2 col-md-8">
                <h2 class="masthead-subheading mb-0">Reseñas disponibles</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="offset-2 col-md-8">
                <table class="table table-striped mb-5">
                    <thead>
                        <tr>
                            <th scope="col">Título</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="resenia:${resenias}">
                            <td th:text="${resenia.titulo}" th:value="${resenia.titulo}"></td>
                            <td th:text="${resenia.fecha}" th:value="${resenia.fecha}"></td>
                            <td>
                                <a th:href="@{/resenias/resenia(id=__${resenia.id}__)}" class="btn btn-outline-primary btn-sm" role="button">Ver</a>
                            </td>
                        </tr>
                        <tr th:if="${ resenias.isEmpty() }">
                            <td colspan="3" class="text-center">
                                NO HAY NINGUNA RESEÑA POR EL MOMENTO.
                            </td>
                        </tr>
                        <tr  th:if="${ resenias.isEmpty() }">
                            <td colspan="3" class="text-center">
                                <p>¡SÉ EL PRIMERO EN ESCRIBIR UNA!</p>
                            </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <footer th:replace="/fragments/footer :: footer"></footer>
</body>
</html>